body {
	margin: 0;
	background-color: #000;
	color: #fff;
	font-family: Monospace;
	font-size: 13px;
	line-height: 24px;
	overscroll-behavior: none;
    overflow: hidden;
}

button {
	cursor: pointer;
	text-transform: uppercase;
}

a, button, input, select {
	pointer-events: auto;
}

.lil-gui {
	z-index: 2 !important; /* TODO Solve this in HTML */
}

@media all and ( max-width: 640px ) {
	.lil-gui.root { 
		right: auto;
		top: auto;
		max-height: 50%;
		max-width: 80%;
		bottom: 0;
		left: 0;
	}
}

#overlay {
	position: absolute;
	font-size: 16px;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background: rgba(0,0,0,0.7);
}

#overlay button {
	background: transparent;
	border: 0;
	border: 1px solid rgb(255, 255, 255);
	border-radius: 4px;
	color: #ffffff;
	padding: 12px 18px;
	text-transform: uppercase;
	cursor: pointer;
}

#notSupported {
	width: 50%;
	margin: auto;
	background-color: #f00;
	margin-top: 20px;
	padding: 10px;
}

section{
    z-index: 15;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #fff;
    border-radius: 0 0 0 8px;
    min-width: 400px;
    backdrop-filter: blur(4px);

    transition: transform .3s ease-in-out
}

section > nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    padding: 8px;
}
section > nav > svg{
    padding: 8px;
    transition: background-color .1s ease-in-out;
    border-radius: 4px;
    cursor:pointer;
    stroke: black;
    stroke-width: 3;
}
section > nav > svg:hover{
    background-color: #0002;
}

section > nav > svg.active:not(#open){
    background-color: #0001;
}
section > nav > svg#lock .open,
section > nav > svg#lock.active :not(.open){
    display: none;
}
section > nav > svg#lock.active .open,
section > nav > svg#lock :not(.open){
    display: block;
}
section:has(#open.active){
    transform: translateX(calc(100% - 56px));
}
section > nav > svg#open{
    transform: rotate(180deg);
    transition: transform .3s ease-in-out;
}
section > nav > svg#open.active{
    transform: rotate(0deg);
}

main{
    z-index: 10;
    position: absolute;
    display: flex;
    background-color: #fff6;
    top: 100%;
    right: 0;
    width: calc(100% - 48px);
    border-radius: 0 0 0 8px;
    padding: 8px 16px;
    
    flex-direction: column;
    gap: 2px;
    transition: transform .3s ease, opacity .2s ease-out;
    transform: translateX(100%);
    opacity: 0;
}
body[data-mode="remote"] main svg{
    display: none;
}

section:has(nav > svg#orbit.active) > main{
    opacity: 1;
    transform: translateX(0);
}
main > div:has(p[contenteditable="true"]) {
    display: none;
}

main > div *{
    padding: 0;
    margin: 0;
}

main > div{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 2fr 24px;
}
main > div > p{
    outline: none;
    border: none;
}
main > div.active > svg > path:not(.active),
main > div:not(.active) > svg > path.active{
    display: none;
}
main > div > svg{
    width: 24px;
    height: 24px;
    transition: background-color .1s ease-in-out;
    border-radius: 2px;
    cursor: pointer;
}
main > div > svg:hover{
    background-color: #0006;
}